@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Sans-Serif;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.container{
  display: flex;
}
  
.container .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.container .dynamic-txts{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
  
.dynamic-txts li{
    list-style: none;
    color: #ff4c29;
    font-size: 60px;
    top: 0;
    font-weight: 500;
    position: relative;
    animation: slide 15s steps(5) infinite;  /* Total seconds=Number of items X Time per slide */
}
  
@keyframes slide {
    100%{
      top: -450px; /* For 5 items, assuming each has 90px height: 5 * 90 = 450 */
    }
}
    
.dynamic-txts li{
    position: relative;
}
    
.dynamic-txts li::after{
    content: "";
    position: absolute;
    left: 0;
    background-color: blue;
    height: 100%;
    width: 100%;
    border-left: 2px solid #ff4c29;
    animation: typing 3s steps(10) infinite;
}
  
@keyframes typing{
    40%,
    60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
}
  

